Repository sonm-io/core, pull requests merged in 2018-10, with the labels that each got.

#1562 fix: show change request price in USD/h
  cmd/cli/commands/printers.go
  proto/bigint.go
Labels: P: low, S: CLI, T: bug, V: patch

#1560 fix: proper version var for cli
  Makefile
  cmd/cli/main.go
  cmd/cobra.go
Labels: P: low, S: CLI, T: bug, V: patch

#1561 fix: calculate uptime only when benchmarks is finished
  insonmnia/worker/server.go
Labels: P: low, S: Worker, T: bug, V: patch

#1556 chore: add supplier_id to antifraud's logger
  connor/antifraud/antifraud.go
Labels: P: low, S: Connor, V: patch

#1572 fix: memory leak in Node and everywhere
  util/xgrpc/client.go
  util/xgrpc/options.go
Labels: P: high, S: Node, T: bug, V: patch

#1571 fix: reduce bid price predictor deviation
  optimus/market.go
  optimus/market_cache.go
  optimus/predictor.go
  proto/marketplace.go
Labels: P: high, S: Node, T: bug, V: patch

#1559 feat: replace `--out=json` with just `--json` flag
  cmd/cli/commands/common.go
Labels: P: low, S: CLI, T: feature, V: patch

#1570 feat: introducing GetOrdersByIDs method (DWH)
  insonmnia/dwh/server.go
  insonmnia/dwh/sql.go
  proto/ask_plan.pb.go
  proto/dwh.pb.go
  proto/dwh.proto
Labels: P: medium, S: DWH, T: feature

#1576 refactor: batch orders fetching for prediction
  optimus/market.go
Labels: P: medium, S: Node, T: refactor, V: minor

#1557 fix: check for deal existance before processing
  connor/engine.go
  connor/state.go
Labels: P: high, S: Connor, T: bug, V: patch

#1583 fix: handle error if NewAccount failed
  accounts/single_keystore.go
Labels: P: low, S: CLI, T: bug, V: patch

#1580 fix: socket leak in Relay
  insonmnia/npp/relay/server.go
Labels: P: high, S: Relay, T: bug, V: patch

#1585 chore: proper assert for key existence tests
  connor/types/types_test.go
Labels: P: low, S: Connor, V: patch

#1589 fix: relay asynchronously
  insonmnia/npp/relay/server.go
Labels: P: high, S: Relay, T: bug, V: patch

#1591 feat: adapt extra orders in Connor
  connor/config.go
  connor/engine.go
  etc/connor.yaml
Labels: P: low, S: Connor, T: feature, V: patch

#1590 fix: chunked fetching orders in Optimus
  optimus/market.go
Labels: P: medium, S: Optimus, T: bug, V: patch

#1599 fix: set JSON content type for REST responses
  util/rest/server.go
Labels: P: high, S: Node, T: bug, V: patch

#1601 feat: show trace info in Rendezvous logs
  insonmnia/logging/trace.go
  insonmnia/npp/rendezvous/server.go
Labels: P: low, S: Rendezvous, T: feature, V: minor

#1595 feat: generalized log parser for Connor.
  connor/antifraud/config.go
  connor/antifraud/log_processor.go
  connor/antifraud/log_processor_test.go
  connor/antifraud/pool_processor.go
  connor/antifraud/processor.go
  connor/config.go
  etc/connor.yaml
Labels: P: medium, S: Connor, T: feature, V: patch

#1598 refactor: simplify request logging
  insonmnia/node/server.go
  insonmnia/npp/relay/monitor.go
  insonmnia/npp/rendezvous/server.go
  insonmnia/worker/server.go
  util/xgrpc/options.go
Labels: P: medium, T: refactor, V: patch

#1604 feat: dwh out of sync mode
  insonmnia/dwh/server.go
Labels: P: medium, S: DWH

#1617 feat: validate prediction request
  proto/optimus.go
Labels: P: high, S: Optimus, T: feature, V: minor

#1616 fix: properly generate hash
  proto/optimus.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1622 feat: teach Optimus to cancel optimization
  optimus/context.go
  optimus/engine.go
  optimus/engine_branch.go
  optimus/engine_genetic.go
  optimus/engine_greedy.go
  optimus/engine_multi.go
Labels: P: high, S: Node, S: Optimus, T: feature, V: minor

#1620 feat: enable some of gRPC interceptors for REST
  insonmnia/node/server.go
  util/rest/options.go
  util/xgrpc/options.go
Labels: P: high, S: Node, T: feature, V: minor

#1621 feat: return REST errors as JSON
  insonmnia/node/worker.go
  util/rest/server.go
  util/xgrpc/method.go
  util/xgrpc/options.go
Labels: P: medium, S: Node, T: feature, V: minor

#1623 feat: add more REST interceptors - logging and tracing
  insonmnia/node/server.go
  util/rest/options.go
  util/xgrpc/options.go
Labels: P: low, S: Node, T: feature, V: minor

#1606 fix: don't init Connor's backends twice
  connor/backends.go
  connor/config.go
  connor/engine.go
Labels: P: low, S: Connor, V: patch

#1629 fix: proper full method name for REST server
  util/rest/server.go
Labels: P: high, S: Node, T: bug, V: patch

#1628 fix: no SIGSEGV while logging requests
  util/xgrpc/options.go
Labels: P: medium, T: bug, V: patch

#1552 feat: common pool processor for anti-fraud
  connor/antifraud/config.go
  connor/antifraud/pool_processor.go
  connor/antifraud/pool_processor_test.go
  etc/connor.yaml
Labels: P: medium, S: Connor, T: refactor, V: patch

#1515 feat: show hourly expenses for deals
  cmd/cli/commands/deals.go
  cmd/cli/commands/printers.go
  cmd/cli/commands/printers_test.go
Labels: P: medium, S: CLI, T: feature, V: patch

#1634 feat: add axe optimization model
  optimus/engine.go
  optimus/engine_axe.go
Labels: P: medium, S: Optimus, T: feature, V: minor

#1633 fix: forward meta headers to worker interceptor
  util/rest/server.go
Labels: P: low, S: Node, T: bug, V: patch

#1636 fix: compare only victim price in Optimus
  optimus/engine.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1637 fix: race condition while resetting puncher
  insonmnia/npp/listener.go
Labels: P: medium, S: Rendezvous, T: bug, V: patch

#1639 feat: blacklist purge method
  cmd/cli/commands/blacklist.go
  connor/antifraud/blacklist_watcher_test.go
  insonmnia/node/blacklist.go
  proto/node.pb.go
  proto/node.proto
Labels: P: medium, S: Node, T: feature, V: patch

#1640 refactor: avoid copy-paste when doing things concurrently
  insonmnia/node/blacklist.go
  insonmnia/node/deals.go
  insonmnia/node/market.go
  insonmnia/worker/salesman/salesman.go
  util/xconcurrency/cncurrency.go
Labels: P: low, T: refactor, V: patch

#1641 chore: proper result printer for ask-plan purge
  cmd/cli/commands/worker_askplans.go
Labels: P: low, S: CLI, T: refactor, V: patch

#1638 fix: zero values in DWH
  insonmnia/dwh/sql.go
Labels: P: medium, S: DWH, T: bug

#1642 fix: chunked deals fetching in Optimus
  optimus/market.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1645 aux: enable CORS headers in Node's rest server
  util/rest/server.go
Labels: P: low, S: Integration, S: Node, V: patch

#1579 feat: multiple pools
  insonmnia/resource/ask_plan_map.go
  insonmnia/resource/plan_pool.go
  insonmnia/resource/scheduler.go
  insonmnia/resource/task_pool.go
  insonmnia/worker/salesman/salesman.go
  insonmnia/worker/server.go
  proto/ask_plan.go
  proto/ask_plan.pb.go
  proto/worker.pb.go
  proto/worker.proto
Labels: P: high, S: Worker

#1647 fix: proper error code for Worker exit on errors
  cmd/worker/main.go
Labels: P: low, S: Worker, T: bug, V: patch

#1650 feat: pool processor for UleyPool
  connor/antifraud/pool_processor.go
  connor/antifraud/processor.go
  connor/config.go
Labels: P: medium, S: Connor, S: Integration, T: feature, V: patch

#1652 refactor: drop no longer used option in NPP
  insonmnia/npp/listener.go
  insonmnia/npp/options.go
Labels: P: medium, S: Rendezvous, T: refactor, V: patch

#1657 perf: pre-filter GPUs in Optimus
  optimus/devices.go
  optimus/devices_test.go
Labels: P: medium, S: Optimus, T: perf, V: minor

#1658 perf: cache benchmarks meta in Optimus
  optimus/devices.go
Labels: P: medium, S: Optimus, T: perf, V: minor

#1659 perf: cache GPU benchmarks in Optimus
  optimus/devices.go
  optimus/devices_test.go
Labels: P: medium, S: Optimus, T: perf, V: minor

#1660 fix: getTransactionReceipt To field unmarshalling
  blockchain/client.go
  blockchain/client_test.go
Labels: B: AS, P: high, S: Blockchain, T: bug, V: patch

#1661 fix: check error in Node's stream interceptor
  insonmnia/node/worker.go
Labels: P: high, S: Node, T: bug, V: patch

#1662 perf: optimize reallocations in Optimus
  optimus/devices.go
Labels: P: medium, S: Optimus, T: perf, V: minor

#1667 perf: replace using "pow" with hand-written code
  optimus/devices.go
Labels: P: medium, S: Optimus, T: perf, V: minor

#1675 aux: change solium linter rules
  blockchain/source/.soliumrc.json
Labels: P: low, S: Smart-contracts, T: refactor

#1678 fix: proper version for nvidia plugin
  insonmnia/worker/gpu/nvidia_tuner.go
Labels: P: high, S: Worker, T: bug, V: patch
