Repository sonm-io/core, pull requests merged in 2018-11, with the labels that each got.

#1644 feat: SSH on Worker host
  go.mod
  go.sum
  insonmnia/node/mod.go
  insonmnia/node/options.go
  insonmnia/ssh/crypto.go
  insonmnia/ssh/proxy.go
  insonmnia/worker/options.go
  insonmnia/worker/ssh.go
Labels: P: medium, S: Node, S: Worker, T: feature, V: minor

#1679 feat: Optimus should no longer remove active plans
  optimus/engine.go
  proto/insonmnia.go
Labels: P: medium, S: Optimus, T: feature, V: minor

#1681 feat: SSH keys management
  insonmnia/worker/options.go
  insonmnia/worker/ssh.go
Labels: P: medium, S: Worker, T: feature, V: minor

#1683 aux: build sonmmon only for linux
  Makefile
Labels: P: low, S: sonmmon, V: patch

#1685 fix: failed genetic model should not interrupt optimization
  optimus/engine_genetic.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1682 feat: return order IDs after price prediction
  optimus/engine.go
  optimus/optimus.go
  optimus/predictor_service.go
  optimus/worker.go
  proto/optimus.pb.go
  proto/optimus.proto
Labels: P: medium, S: Node, S: Optimus, T: feature, V: minor

#1694 aux: cleanup gates warning
  blockchain/source/contracts/SimpleGatekeeperWithLimit.sol
  blockchain/source/contracts/SimpleGatekeeperWithLimitLive.sol
Labels: P: low, S: Smart-contracts, T: refactor

#1687 feat: added used bytes for the disk benchmark
  insonmnia/hardware/disk/disk.go
  insonmnia/worker/server.go
Labels: P: low, S: Worker, T: benchmark, T: feature, V: patch

#1695 feat: add PayoutTargeted to SimpleGatekeeper
  blockchain/source/contracts/SimpleGatekeeperWithLimit.sol
  blockchain/source/test/simpleGatekeeperWithLimit.js
Labels: B: AS, P: high, S: Smart-contracts, T: feature, V: major

#1691 feat: extended network metrics in Worker
  insonmnia/worker/container.go
  insonmnia/worker/overseer.go
  proto/insonmnia.pb.go
  proto/insonmnia.proto
Labels: P: medium, S: Worker, T: feature, V: minor

#1697 feat: ability to collect metrics from DRI devices
  cmd/lsgpu/main.go
  insonmnia/worker/gpu/dri.go
Labels: P: medium, S: Worker, T: feature, V: patch

#1692 feat: worker geolocation
  cmd/cli/commands/printers.go
  insonmnia/npp/rendezvous/resolve.go
  insonmnia/npp/rendezvous/server.go
  insonmnia/worker/geoip.go
  insonmnia/worker/options.go
  insonmnia/worker/server.go
  proto/ask_plan.pb.go
  proto/geoip.pb.go
  proto/geoip.proto
  proto/insonmnia.pb.go
  proto/marketplace.pb.go
  proto/net.pb.go
  proto/node.pb.go
  proto/optimus.pb.go
  proto/relay.pb.go
  proto/rendezvous.pb.go
  proto/timestamp.pb.go
  proto/volume.pb.go
  proto/worker.pb.go
  proto/worker.proto
  util/xnet/resolve.go
Labels: P: medium, S: Worker, T: feature, V: minor

#1703 chore: refactor contracts
  blockchain/source/contracts/Blacklist.sol
  blockchain/source/contracts/OracleUSD.sol
  blockchain/source/contracts/ProfileRegistry.sol
  blockchain/source/contracts/SimpleGatekeeper.sol
  blockchain/source/contracts/TestnetFaucet.sol
  blockchain/source/migrations/2_deploy_SimpleGatekeeper.js
  blockchain/source/migrations/2_deploy_oracle.js
  blockchain/source/migrations/3_deploy_profileRegistry.js
  blockchain/source/migrations/3_init_gatekeeper.js
  blockchain/source/migrations/4_deploy_blacklist.js
  blockchain/source/migrations/5_deploy_market.js
  blockchain/source/migrations/6_set_market_for_blacklist.js
  blockchain/source/test/addressHashMap.js
  blockchain/source/test/simpleGatekeeper.js
  blockchain/source/test/simpleGatekeeperWithLimitLive.js
Labels: P: low, S: Smart-contracts, T: refactor

#1699 feat: AutoPayout contract
  blockchain/source/contracts/AutoPayout.sol
  blockchain/source/test/autoPayout.js
Labels: B: AS, P: high, S: Smart-contracts, T: feature

#1707 feat: allow to disable Worker benchmarking in dev mode
  insonmnia/worker/config.go
  insonmnia/worker/server.go
Labels: P: medium, S: Worker, T: feature, V: minor

#1714 fix: record deal payments (DWH)
  insonmnia/dwh/processor.go
  insonmnia/dwh/sql.go
Labels: P: medium, S: DWH, T: bug

#1719 fix: avoid eth addr in connection string for insecure connections
  cmd/cli/commands/client.go
  cmd/cli/config/config.go
Labels: P: low, S: CLI, T: bug, V: patch

#1715 feat: background metrics collector for worker
  cmd/cli/commands/worker.go
  cmd/cli/commands/worker_metrics.go
  insonmnia/worker/gpu/interface.go
  insonmnia/worker/gpu/metrics.go
  insonmnia/worker/gpu/metrics_other.go
  insonmnia/worker/metrics/metrics.go
  insonmnia/worker/server.go
  proto/ask_plan.pb.go
  proto/worker.go
  proto/worker.pb.go
  proto/worker.proto
  proto/worker_test.go
Labels: P: medium, S: Worker, T: feature, V: minor

#1739 fix: deadlock in Rendezvous server
  insonmnia/npp/rendezvous/server.go
Labels: P: high, S: Rendezvous, T: bug, V: patch

#1740 feat: log Worker's ETH address during start up
  insonmnia/worker/server.go
Labels: P: low, S: Worker, T: feature, V: minor

#1724 feat: experimental QUIC protocol support
  cmd/rv/main.go
  go.mod
  go.sum
  insonmnia/node/mod.go
  insonmnia/node/options.go
  insonmnia/node/remote.go
  insonmnia/node/server.go
  insonmnia/npp/common.go
  insonmnia/npp/dial.go
  insonmnia/npp/listener.go
  insonmnia/npp/metrics.go
  insonmnia/npp/options.go
  insonmnia/npp/puncher_quic.go
  insonmnia/npp/rendezvous/options.go
  insonmnia/npp/rendezvous/server.go
  insonmnia/npp/rv.go
  insonmnia/ssh/proxy.go
  insonmnia/worker/options.go
  insonmnia/worker/server.go
  insonmnia/worker/ssh.go
  proto/net.go
  proto/net.proto
  proto/rendezvous.go
  proto/rendezvous.proto
  util/grpcsecure.go
  util/grpcutil_test.go
  util/xgrpc/client.go
  util/xgrpc/client_test.go
  util/xgrpc/credentials.go
  util/xnet/listener.go
  util/xnet/quic.go
Labels: P: medium, T: WIP, T: experiment, T: feature, V: minor

#1751 fix: replace TCP KA with HTTP2 pings to Rendezvous
  insonmnia/npp/net.go
  insonmnia/npp/rendezvous/server.go
  insonmnia/npp/rv.go
  util/xgrpc/options.go
Labels: P: high, S: Rendezvous, S: Worker, T: bug, V: patch

#1565 feat: market crud
  blockchain/source/contracts/Administratum.sol
  blockchain/source/contracts/AdministratumCrud.sol
  blockchain/source/contracts/ChangeRequests.sol
  blockchain/source/contracts/Deals.sol
  blockchain/source/contracts/Market.sol
  blockchain/source/contracts/OracleUSD.sol
  blockchain/source/contracts/Orders.sol
  blockchain/source/contracts/SimpleGatekeeperWithLimit.sol
  blockchain/source/migrations/2_deploy_oracle.js
  blockchain/source/migrations/3_deploy_profileRegistry.js
  blockchain/source/migrations/4_deploy_blacklist.js
  blockchain/source/migrations/5_deploy_crud.js
  blockchain/source/migrations/6_deploy_administratum.js
  blockchain/source/migrations/7_deploy_market.js
  blockchain/source/migrations/8_set_market_for_blacklist.js
  blockchain/source/scripts/test.sh
  blockchain/source/test/blacklist.js
  blockchain/source/test/helpers/common.js
  blockchain/source/test/market.js
  blockchain/source/truffle.js
Labels: P: medium, S: Smart-contracts, T: API breaking, T: experiment, T: perf

#1749 feat: show deal type in deal list cmd
  cmd/cli/commands/printers.go
Labels: P: low, S: CLI, T: feature, V: patch

#1752 feat: metrics collection addr and ACL for worker
  etc/worker.yaml
  insonmnia/worker/config.go
  insonmnia/worker/server.go
Labels: P: medium, S: Worker, T: feature, V: patch

#1753 chore: show blacklisted address count
  cmd/cli/commands/printers.go
Labels: P: low, S: CLI, V: patch

#1756 feat: version checking for core components
  Makefile
  cmd/cli/main.go
  cmd/cobra.go
  cmd/node/main.go
  cmd/optimus/main.go
  cmd/worker/main.go
  go.mod
  go.sum
  insonmnia/version/version.go
  insonmnia/version/version_test.go
Labels: P: medium, T: feature, V: minor

#1764 fix: no not stop gRPC servers on temporary QUIC errors
  util/xnet/quic.go
Labels: P: high, T: bug, V: patch

#1765 fix: reduce noise while logging RPC calls
  util/xgrpc/options.go
Labels: P: medium, T: bug, V: patch

#1766 fix: proper close docker client
  insonmnia/hardware/disk/disk.go
Labels: P: high, S: Worker, T: bug, V: patch
