Repository sonm-io/core, pull requests merged in 2018-12, with the labels that each got.

#1770 fix: close QUIC sessions and streams
  insonmnia/npp/puncher_quic.go
  util/xnet/quic.go
Labels: P: high, S: Node, S: Rendezvous, S: Worker, T: bug, V: patch

#1771 fix: blockchain Events api from block processing
  blockchain/api.go
  blockchain/options.go
Labels: P: medium, S: Blockchain, S: DWH, T: bug

#1772 fix: drop nvidia socket if exists
  insonmnia/worker/gpu/nvidia_tuner.go
Labels: P: medium, S: Worker, T: bug, V: patch

#1773 feat: TTL for servers in Rendezvous
  insonmnia/npp/rendezvous/server.go
Labels: P: medium, S: Rendezvous, T: feature, V: minor

#1776 fix: properly detect for "red" cards in monitoring handler
  insonmnia/worker/gpu/metrics.go
  insonmnia/worker/gpu/radeon_tuner.go
Labels: P: medium, S: Worker, T: bug, V: patch

#1779 aux: enabling pprof in DWH
  cmd/dwh/main.go
Labels: P: medium, S: DWH, V: patch

#1778 fix: smart contracts migrations
  .gitignore
  blockchain/source/Makefile
  blockchain/source/contracts/Migrations.sol
  blockchain/source/contracts/SNMMasterchain.sol
  blockchain/source/live-deploy-scripts/1_deploy_live_gate.js
  blockchain/source/live-deploy-scripts/2_deploy_sidechain_gate.js
  blockchain/source/live-deploy-scripts/3_deploy_main_part.js
  blockchain/source/migration_artifacts/contracts/AddressHashMap.json
  blockchain/source/migration_artifacts/contracts/Administratable.json
  blockchain/source/migration_artifacts/contracts/AutoPayout.json
  blockchain/source/migration_artifacts/contracts/BasicToken.json
  blockchain/source/migration_artifacts/contracts/BasicTokenDeployed.json
  blockchain/source/migration_artifacts/contracts/Blacklist.json
  blockchain/source/migration_artifacts/contracts/DeployList.json
  blockchain/source/migration_artifacts/contracts/Dummy.json
  blockchain/source/migration_artifacts/contracts/ERC20.json
  blockchain/source/migration_artifacts/contracts/ERC20Basic.json
  blockchain/source/migration_artifacts/contracts/ERC20BasicDeployed.json
  blockchain/source/migration_artifacts/contracts/ERC20Deployed.json
  blockchain/source/migration_artifacts/contracts/Market.json
  blockchain/source/migration_artifacts/contracts/Migrations.json
  blockchain/source/migration_artifacts/contracts/MultiSigWallet.json
  blockchain/source/migration_artifacts/contracts/OracleUSD.json
  blockchain/source/migration_artifacts/contracts/Ownable.json
  blockchain/source/migration_artifacts/contracts/Pausable.json
  blockchain/source/migration_artifacts/contracts/ProfileRegistry.json
  blockchain/source/migration_artifacts/contracts/SNM.json
  blockchain/source/migration_artifacts/contracts/SNMMasterchain.json
  blockchain/source/migration_artifacts/contracts/SafeMath.json
  blockchain/source/migration_artifacts/contracts/SimpleGatekeeperWithLimit.json
  blockchain/source/migration_artifacts/contracts/SimpleGatekeeperWithLimitLive.json
  blockchain/source/migration_artifacts/contracts/StandardToken.json
  blockchain/source/migration_artifacts/contracts/StandardTokenDeployed.json
  blockchain/source/migration_artifacts/contracts/TestnetFaucet.json
  blockchain/source/migration_utils/address_hashmap.js
  blockchain/source/migration_utils/multisig.js
  blockchain/source/migrations/1_deploy_token.js
  blockchain/source/migrations/1_initial_migration.js
  blockchain/source/migrations/2_deploy_oracle.js
  blockchain/source/migrations/2_deploy_v1.js
  blockchain/source/migrations/3_deploy_profileRegistry.js
  blockchain/source/migrations/4_deploy_blacklist.js
  blockchain/source/migrations/5_deploy_market.js
  blockchain/source/migrations/6_set_market_for_blacklist.js
  blockchain/source/scripts/dev.sh
  blockchain/source/test/blacklist.js
  blockchain/source/truffle.js
  go.sum
Labels: P: medium, S: Smart-contracts, T: refactor

#1786 fix: randomly place asterix char before the structs
  insonmnia/worker/gpu/metrics.go
  insonmnia/worker/gpu/radeon_tuner.go
Labels: P: medium, S: Worker, T: bug, V: patch

#1785 fix: memory leak in Optimus
  optimus/engine.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1781 refactor: massive NPP overhaul
  insonmnia/npp/conn.go
  insonmnia/npp/dial.go
  insonmnia/npp/listener.go
  insonmnia/npp/options.go
  insonmnia/npp/puncher.go
  insonmnia/npp/puncher.quic.go
  insonmnia/npp/puncher.tcp.go
  insonmnia/npp/puncher_quic.go
  insonmnia/npp/relay/net.go
  insonmnia/npp/relay/server.go
  insonmnia/npp/rv.go
  proto/net.go
  proto/rendezvous.go
  util/xnet/listener.go
  util/xnet/quic.go
Labels: P: medium, S: Node, S: Worker, T: bug, T: refactor, V: patch

#1738 feat: devices storage
  blockchain/addresses.go
  blockchain/api.go
  blockchain/source/api/DevicesStorage.go
  blockchain/source/api/Migrations.go
  blockchain/source/api/SNMMasterchain.go
  blockchain/source/api/SimpleGatekeeperWithLimitLive.go
  blockchain/source/api/TestnetFaucet.go
  blockchain/source/contracts/DevicesStorage.sol
  blockchain/source/contracts/Migrations.sol
  blockchain/source/migration_utils/multisig.js
  blockchain/source/migrations/3_deploy_devices_storage.js
  blockchain/source/scripts/dev.sh
  blockchain/source/test/devicesStorage.js
  cmd/cli/commands/client.go
  cmd/cli/commands/common.go
  cmd/cli/commands/devices.go
  cmd/cli/commands/printers.go
  insonmnia/node/devices_storage.go
  insonmnia/node/services.go
  insonmnia/worker/server.go
  proto/ask_plan.pb.go
  proto/node.pb.go
  proto/node.proto
Labels: P: medium, S: Smart-contracts, T: feature

#1808 chore: devices storage migration to testnet
  blockchain/source/migration_artifacts/contracts/AddressHashMap.json
  blockchain/source/migration_artifacts/contracts/DevicesStorage.json
  blockchain/source/migration_artifacts/contracts/Migrations.json
  blockchain/source/migration_artifacts/contracts/MultiSigWallet.json
  blockchain/source/migration_artifacts/contracts/Ownable.json
  blockchain/source/truffle.js
Labels: S: Blockchain, S: Smart-contracts

#1789 refactor: temporary errors instead of bool flags
  connor/engine.go
Labels: P: low, S: Connor, T: refactor, V: patch

#1810 fix: migration with proper multisig
  blockchain/source/migration_utils/multisig.js
  blockchain/source/migrations/2_deploy_v1.js
  blockchain/source/migrations/3_deploy_devices_storage.js
Labels: P: low, S: Smart-contracts, T: bug

#1805 feat: added rate counters in NPP dialer metrics
  insonmnia/npp/dial.go
  insonmnia/npp/listener.go
  insonmnia/npp/metrics.go
Labels: P: medium, S: Node, T: feature, V: minor

#1625 feat: oracle log future processing
  cmd/oracle/main.go
  etc/oracle.yaml
  insonmnia/oracle/config.go
  insonmnia/oracle/oracle.go
Labels: P: high, S: Blockchain, T: WIP, T: feature, V: major

#1816 aux: update ganache-cli version
  blockchain/source/package-lock.json
  blockchain/source/package.json
Labels: P: low, S: Smart-contracts, T: bug

#1818 fix: proper processing for collected DRI devices
  insonmnia/worker/gpu/radeon_tuner.go
Labels: P: high, S: Worker, T: bug, V: patch

#1819 aux: build lsgpu with GPU_TAGS
  Makefile
Labels: P: low
