Repository sonm-io/core, pull requests merged in 2018-06, with the labels that each got.

#935 feat/overseer: mark containers with deal ID
  insonmnia/worker/container.go
  insonmnia/worker/overseer.go
Labels: P: medium, S: Worker

#946 refactor: use await with confirmations instead of old func
  blockchain/api.go
  blockchain/util.go
Labels: P: high

#978 feat: dwh orders blacklist filters
  insonmnia/dwh/sql.go
  proto/dwh.pb.go
  proto/dwh.proto
  vendor/github.com/Masterminds/squirrel/LICENSE.txt
  vendor/github.com/Masterminds/squirrel/README.md
  vendor/github.com/Masterminds/squirrel/delete.go
  vendor/github.com/Masterminds/squirrel/delete_ctx.go
  vendor/github.com/Masterminds/squirrel/expr.go
  vendor/github.com/Masterminds/squirrel/insert.go
  vendor/github.com/Masterminds/squirrel/insert_ctx.go
  vendor/github.com/Masterminds/squirrel/select.go
  vendor/github.com/Masterminds/squirrel/select_ctx.go
  vendor/github.com/Masterminds/squirrel/squirrel.go
  vendor/github.com/Masterminds/squirrel/squirrel_ctx.go
  vendor/github.com/Masterminds/squirrel/stmtcacher.go
  vendor/github.com/Masterminds/squirrel/stmtcacher_ctx.go
  vendor/github.com/Masterminds/squirrel/stmtcacher_noctx.go
  vendor/github.com/Masterminds/squirrel/update.go
  vendor/github.com/Masterminds/squirrel/update_ctx.go
  vendor/github.com/Masterminds/squirrel/where.go
  vendor/vendor.json
Labels: T: feature, V: minor

#973 feat: implemented GetBlacklistsContainingUser for DWH
  insonmnia/dwh/server.go
  insonmnia/dwh/server_test.go
  insonmnia/dwh/sql.go
  insonmnia/dwh/storage.go
  insonmnia/node/blacklist.go
  proto/ask_plan.pb.go
  proto/dwh.pb.go
  proto/dwh.proto
Labels: T: API breaking, T: feature, V: major

#982 chore: log master addr as string, not bytes
  insonmnia/worker/server.go
Labels: P: low, S: Worker, T: bug, V: patch

#981 fix: remove finished benchmark containers from Overseer
  insonmnia/worker/container.go
  insonmnia/worker/server.go
Labels: P: low, S: Worker, T: bug, V: patch

#985 fix: move gasLimit into chainopts
  blockchain/addresses.go
  blockchain/api.go
  blockchain/options.go
  blockchain/util.go
Labels: P: low, S: Blockchain, V: patch

#983 fix: update deals constantly to prevent caching stale data
  insonmnia/worker/salesman/salesman.go
Labels: S: Worker, T: bug, V: patch

#960 feat: maintenance for worker
  cmd/cli/commands/worker.go
  insonmnia/worker/salesman/salesman.go
  insonmnia/worker/server.go
  proto/worker.pb.go
  proto/worker.proto
Labels: P: medium, S: Worker, T: feature, V: minor

#992 fix: proper cli login behaviour
  accounts/multi_keystore.go
  accounts/multi_keystore_test.go
  cmd/cli/commands/login.go
Labels: P: medium, S: CLI, T: bug, V: patch

#990 feat: quick buy for cli and node
  blockchain/api.go
  cmd/cli/commands/deals.go
  insonmnia/node/deals.go
  proto/node.pb.go
  proto/node.proto
Labels: P: medium, S: CLI, S: Node, T: API breaking, T: feature, V: minor

#989 feat: get profile level
  blockchain/source/contracts/Market.sol
  blockchain/source/contracts/ProfileRegistry.sol
  blockchain/source/test/market.js
  blockchain/source/test/profileRegistry.js
Labels: P: high, T: feature

#984 feat: variable benchmarks
  blockchain/api.go
  blockchain/types.go
  insonmnia/dwh/server.go
  insonmnia/dwh/server_test.go
  insonmnia/dwh/sql.go
  proto/marketplace.go
Labels: P: medium, S: DWH, T: feature

#991 fix: incorrect billing
  blockchain/source/contracts/Market.sol
Labels: P: high, T: bug

#999 fix: properly list cut ask plans
  optimus/optimus.go
Labels: P: medium, S: Optimus, V: patch

#1001 fix: store certificate id in DWH
  blockchain/api.go
  insonmnia/dwh/postgres.go
  insonmnia/dwh/sql.go
  insonmnia/dwh/sqlite.go
  proto/dwh.pb.go
  proto/dwh.proto
Labels: P: medium, S: DWH, V: patch

#1004 chore: dead code elimination
  optimus/devices.go
Labels: P: low

#996 chore: refactoring market
  blockchain/source/contracts/Market.sol
  blockchain/source/test/market.js
Labels: P: medium, S: Smart-contracts

#1010 feat: increase/decrease approval
  blockchain/api.go
Labels: P: medium, S: Blockchain, T: feature

#1007 chore: return relay error to the upper layer
  insonmnia/npp/options.go
Labels: P: low

#1008 refactor: contracts
  blockchain/source/contracts/Market.sol
Labels: P: low, S: Smart-contracts

#1011 feat: MultiSig wallet
  blockchain/source/contracts/MultiSigWallet.sol
  blockchain/source/test/multiSigWallet.js
Labels: P: high, S: Blockchain, S: Smart-contracts, T: feature

#1016 fix: proper task push
  cmd/cli/commands/tasks.go
  insonmnia/worker/docker.go
  insonmnia/worker/overseer.go
  insonmnia/worker/server.go
Labels: T: API breaking, T: bug

#1017 fix: do not spool exisiting images
  insonmnia/worker/container.go
  insonmnia/worker/overseer.go
  insonmnia/worker/whitelist.go
Labels: P: medium, S: Worker, T: bug

#1005 fix: do not spam warnings when no rendezvous specified
  insonmnia/npp/dial.go
  insonmnia/npp/options.go
Labels: P: medium, S: Node, S: Worker, T: bug, V: patch

#997 feat: order purge handle for cli and node
  cmd/cli/commands/orders.go
  insonmnia/node/market.go
  proto/marketplace.pb.go
  proto/marketplace.proto
Labels: P: low, S: CLI, S: Node, T: feature, V: patch

#1018 fix: list all images, remove excessive logging
  insonmnia/worker/overseer.go
Labels: P: low, S: Worker, T: bug

#1023 refactor: reuse converse implication
  optimus/optimus.go
Labels: S: Optimus

#1009 feature: remove token with allowance
  blockchain/source/contracts/SNMD.sol
  blockchain/source/migrations/1_deploy_token.js
  blockchain/source/migrations/3_deploy_SimpleGatekeeper.js
  blockchain/source/migrations/4_init_gatekeeper.js
  blockchain/source/test/market.js
Labels: P: high, S: Smart-contracts, T: API breaking

#1013 feat: authentic masterchain token
  blockchain/source/.soliumignore
  blockchain/source/api/SNMMasterchain.go
  blockchain/source/contracts/SNMMasterchain.sol
  blockchain/source/deployed/contracts/SNMMasterchain.json
Labels: P: medium, S: Smart-contracts, T: API breaking, T: WIP, V: minor

#1006 feat: emulate TCP reaction when using relay
  insonmnia/npp/relay/errors.go
  insonmnia/npp/relay/server.go
Labels: P: medium, S: Node, S: Worker, T: feature, V: patch

#1030 feat: optimus price prediction
  optimus/learning.go
  optimus/optimus.go
  optimus/structs.go
Labels: P: high, S: Optimus, T: bug, T: feature, V: minor

#1002 feat: profile management for cli and node
  blockchain/api.go
  cmd/cli/commands/client.go
  cmd/cli/commands/common.go
  cmd/cli/commands/printers.go
  cmd/cli/commands/profiles.go
  insonmnia/node/profiles.go
  insonmnia/node/server.go
  proto/dwh.go
  proto/node.pb.go
  proto/node.proto
Labels: P: medium, S: CLI, S: Node, T: feature, V: minor

#1033 fix: make relay IPv6 ready (not really)
  insonmnia/npp/relay/server.go
Labels: P: low, S: Realy, T: bug, V: patch

#998 aux: redeploy contracts
  ask.yaml
  bid.yaml
  blockchain/addresses.go
  blockchain/api.go
  blockchain/examples/placeOrder/placeOrder.go
  blockchain/source/api/Blacklist.go
  blockchain/source/api/Market.go
  blockchain/source/api/ProfileRegistry.go
  blockchain/source/api/SNMD.go
  blockchain/source/migrations/5_deploy_profileRegistry.js
  blockchain/source/migrations/7_deploy_market.js
  blockchain/source/migrations/9_set_KYC.js
  cmd/cli/commands/deals.go
  insonmnia/dwh/server_test.go
  insonmnia/node/deals.go
  insonmnia/node/market.go
  insonmnia/worker/salesman/salesman.go
  proto/ask_plan.go
  proto/ask_plan.pb.go
  proto/ask_plan_test.go
  proto/dwh.pb.go
  proto/marketplace.pb.go
  proto/marketplace.proto
  proto/marketplace_test.go
  proto/node.pb.go
  proto/node.proto
Labels: P: high, S: Blockchain, T: API breaking

#1029 feat: contracts freezing
  blockchain/source/contracts/Market.sol
  blockchain/source/contracts/ProfileRegistry.sol
  blockchain/source/test/market.js
  blockchain/source/test/profileRegistry.js
Labels: P: high, S: Smart-contracts, T: feature, V: major

#986 feat: deposit-withdraw for node and cli
  blockchain/api.go
  cmd/cli/commands/tokens.go
  insonmnia/node/tokens.go
  proto/node.pb.go
  proto/node.proto
Labels: P: medium, S: CLI, S: Node, T: feature, V: minor

#1024 fix: get task list only for consumer's deals
  cmd/cli/commands/tasks.go
Labels: P: low, S: CLI, T: bug, V: patch

#1039 chore: drop pkg/errors, wrap errors using fmt.Errorf
  accounts/identity.go
  accounts/multi_keystore.go
  blockchain/api.go
  blockchain/util.go
  insonmnia/dwh/config.go
  insonmnia/dwh/server.go
  insonmnia/dwh/server_test.go
  insonmnia/dwh/sql.go
  insonmnia/dwh/storage.go
  insonmnia/matcher/matcher.go
  insonmnia/node/blacklist.go
  insonmnia/node/deals.go
  insonmnia/node/market.go
  insonmnia/node/tasks.go
  insonmnia/node/tokens.go
  insonmnia/structs/network_spec.go
  insonmnia/worker/container.go
  insonmnia/worker/network/l2tp_config.go
  insonmnia/worker/network/l2tp_ipam.go
  insonmnia/worker/network/l2tp_network.go
  insonmnia/worker/network/l2tp_state.go
  insonmnia/worker/network/tinc_driver.go
  insonmnia/worker/network/tinc_network.go
  insonmnia/worker/network/tinc_state.go
  insonmnia/worker/options.go
  insonmnia/worker/salesman/salesman.go
  insonmnia/worker/server.go
  insonmnia/worker/whitelist.go
  optimus/normalize.go
  proto/rendezvous.go
Labels: P: low, T: refactor, V: patch

#1042 refactor: set allowance for market on sidechain
  blockchain/api.go
Labels: P: high, S: Blockchain, V: minor

#1045 feat: utilize hostname for Relay
  insonmnia/node/server.go
  insonmnia/npp/dial.go
  insonmnia/npp/listener.go
  insonmnia/npp/options.go
  insonmnia/npp/relay/client.go
  insonmnia/npp/relay/config.go
  insonmnia/worker/config_test.go
  insonmnia/worker/server.go
  util/netutil/net.go
Labels: P: medium, S: Relay, T: feature, V: minor

#1040 refactor: do not apply whitelist to identified consumers
  blockchain/api.go
  insonmnia/worker/server.go
  insonmnia/worker/whitelist.go
  insonmnia/worker/whitelist_test.go
Labels: P: low, S: Worker, T: refactor, V: patch

#1044 chore: also remove laconic error
  insonmnia/dwh/server.go
  util/util.go
Labels: P: low, S: DWH, V: patch

#1048 chore: removed dead code in relay
  insonmnia/npp/relay/server.go
Labels: P: low, S: Relay, T: refactor

#1054 feat: specify worker settings in Optimus config
  etc/optimus.yaml
  insonmnia/auth/addr.go
  optimus/config.go
  optimus/optimus.go
Labels: P: medium, S: Optimus, T: API breaking, T: feature, V: major

#1056 feature: add a wrapper to abigen api calls to retry
  blockchain/api.go
Labels: P: high, S: Blockchain, S: Worker, T: WIP

#1051 aux: redeploy contracts
  blockchain/addresses.go
  blockchain/examples/placeOrder/placeOrder.go
  blockchain/source/api/AddressHashMap.go
  blockchain/source/api/DeployList.go
  blockchain/source/api/Market.go
  blockchain/source/api/MultiSigWallet.go
  blockchain/source/api/Pausable.go
  blockchain/source/api/ProfileRegistry.go
  blockchain/source/api/SNMMasterchain.go
  blockchain/source/api/TestnetFaucet.go
  blockchain/source/deployed/contracts/AddressHashMap.json
  blockchain/source/deployed/contracts/BasicToken.json
  blockchain/source/deployed/contracts/Blacklist.json
  blockchain/source/deployed/contracts/DeployList.json
  blockchain/source/deployed/contracts/ERC20.json
  blockchain/source/deployed/contracts/ERC20Basic.json
  blockchain/source/deployed/contracts/Market.json
  blockchain/source/deployed/contracts/Migrations.json
  blockchain/source/deployed/contracts/MultiSigWallet.json
  blockchain/source/deployed/contracts/OracleUSD.json
  blockchain/source/deployed/contracts/Ownable.json
  blockchain/source/deployed/contracts/Pausable.json
  blockchain/source/deployed/contracts/ProfileRegistry.json
  blockchain/source/deployed/contracts/SNM.json
  blockchain/source/deployed/contracts/SNMD.json
  blockchain/source/deployed/contracts/SNMMasterchain.json
  blockchain/source/deployed/contracts/SNMTToken.json
  blockchain/source/deployed/contracts/SafeMath.json
  blockchain/source/deployed/contracts/SimpleGatekeeper.json
  blockchain/source/deployed/contracts/StandardToken.json
  blockchain/source/deployed/contracts/TestnetFaucet.json
  blockchain/source/migrations/1_deploy_token.js
  blockchain/source/migrations/2_deploy_SimpleGatekeeper.js
  blockchain/source/migrations/3_deploy_SimpleGatekeeper.js
  blockchain/source/migrations/3_init_gatekeeper.js
  blockchain/source/migrations/4_deploy_oracle.js
  blockchain/source/migrations/6_deploy_blacklist.js
  blockchain/source/migrations/7_deploy_market.js
  blockchain/source/migrations/8_set_market_for_blacklist.js
  blockchain/source/truffle.js
Labels: P: high, S: Smart-contracts, T: API breaking

#1047 fix: relay server tracking
  insonmnia/npp/relay/server.go
Labels: P: medium, S: Relay, T: bug

#1062 feat: gate with daylylimit and freeze
  blockchain/source/contracts/SimpleGatekeeperWithLimit.sol
  blockchain/source/contracts/SimpleGatekeeperWithLimitLive.sol
  blockchain/source/test/simpleGatekeeperWithLimit.js
  blockchain/source/test/simpleGatekeeperWithLimitLive.js
Labels: P: high, S: Smart-contracts, T: WIP, T: feature

#1063 feat: dwh extended validators
  blockchain/api.go
  insonmnia/dwh/postgres.go
  insonmnia/dwh/server.go
  insonmnia/dwh/server_test.go
  insonmnia/dwh/sql.go
  insonmnia/dwh/sqlite.go
  insonmnia/dwh/storage.go
  proto/ask_plan.pb.go
  proto/dwh.go
  proto/dwh.pb.go
  proto/dwh.proto
Labels: P: medium, S: DWH, T: API breaking, T: feature

#1067 aux: gate tests
  blockchain/source/test/simpleGatekeeperWithLimit.js
  blockchain/source/test/simpleGatekeeperWithLimitLive.js
Labels: P: high, S: Smart-contracts, T: refactor

#1068 chore: contracts migration scripts
  blockchain/source/migrations/1_deploy_token.js
  blockchain/source/migrations/2_deploy_SimpleGatekeeper.js
  blockchain/source/migrations/3_init_gatekeeper.js
  blockchain/source/migrations/4_deploy_oracle.js
  blockchain/source/migrations/5_deploy_profileRegistry.js
  blockchain/source/migrations/6_deploy_blacklist.js
  blockchain/source/migrations/7_deploy_market.js
  blockchain/source/migrations/8_set_market_for_blacklist.js
Labels: P: medium, S: Smart-contracts, T: refactor

#1043 refactor: replace the Identity with OpenSingleKeystore function
  Makefile
  accounts/config.go
  accounts/identity.go
  accounts/identity_test.go
  accounts/keys.go
  accounts/keys_test.go
  accounts/multi_keystore.go
  accounts/pass_reader.go
  accounts/single_keystore.go
  cmd/cli/commands/common.go
  cmd/cli/config/config.go
  cmd/pandora/common.go
  optimus/config.go
  util/util.go
  vendor/github.com/sshaman1101/grpccmd/cmd.go
Labels: P: low, T: refactor, V: patch

#1083 fix: treat GPU count as min
  optimus/devices.go
  optimus/devices_test.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1077 refactor: simplify weight formula in Optimus
  optimus/learning.go
  optimus/optimus.go
Labels: P: medium, S: Optimus, T: refactor, V: patch

#1078 chore: dry-run option in Optimus
  etc/optimus.yaml
  optimus/config.go
  optimus/optimus.go
Labels: P: low, S: Optimus, T: refactor, V: patch

#1086 feat: uptime in Relay metrics
  insonmnia/npp/relay/metrics.go
  proto/relay.pb.go
  proto/relay.proto
Labels: P: low, S: Relay, T: feature, V: minor

#1080 fix: deploy list contract
  blockchain/source/contracts/DeployList.sol
  blockchain/source/test/deployers.js
Labels: P: high, S: Smart-contracts, T: bug

#1084 feat: worker debug state
  cmd/cli/commands/worker.go
  insonmnia/resource/pool.go
  insonmnia/worker/salesman/salesman.go
  insonmnia/worker/server.go
  proto/ask_plan.pb.go
  proto/worker.pb.go
  proto/worker.proto
Labels: S: Worker, T: WIP, T: feature

#1092 chore: more verbose cmd errors in Optimus
  cmd/optimus/main.go
Labels: P: low, S: Optimus, T: refactor

#1091 fix: Optimus will now set identity level
  etc/optimus.yaml
  optimus/config.go
  optimus/optimus.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1097 feat: gate commission
  blockchain/source/contracts/SimpleGatekeeperWithLimit.sol
  blockchain/source/contracts/SimpleGatekeeperWithLimitLive.sol
Labels: P: high, S: Smart-contracts, T: WIP, T: feature

#1104 refactor: extend NPP identifier with protocol
  insonmnia/npp/nppc/id.go
  insonmnia/npp/puncher.go
  insonmnia/npp/relay/hashring.go
  insonmnia/npp/relay/metrics.go
  insonmnia/npp/relay/server.go
  insonmnia/npp/rendezvous/server.go
  proto/relay.pb.go
  proto/relay.proto
  proto/rendezvous.go
  proto/rendezvous.pb.go
  proto/rendezvous.proto
Labels: P: high, S: Node, S: Relay, S: Rendezvous, S: Worker, T: API breaking, T: feature, T: refactor, V: major

#1102 fix: proper check for worker availability for the deal
  cmd/cli/commands/deals.go
  cmd/cli/commands/printers.go
  cmd/cli/commands/printers_test.go
  insonmnia/node/deals.go
  proto/node.pb.go
  proto/node.proto
Labels: P: medium, S: CLI, S: Node, T: API breaking, T: bug, V: minor

#1100 fix: cli login must ask for default key's pass
  cmd/cli/commands/login.go
Labels: P: low, S: CLI, T: bug, V: patch

#1110 feat: contract registry
  blockchain/addresses.go
  blockchain/api.go
  blockchain/config.go
  blockchain/examples/placeOrder/placeOrder.go
  blockchain/options.go
  cmd/pandora/gun_marketplace.go
  insonmnia/dwh/server.go
  insonmnia/node/server.go
  insonmnia/node/server_test.go
  insonmnia/node/tokens.go
  insonmnia/worker/options.go
  insonmnia/worker/salesman/salesman.go
  optimus/optimus.go
Labels: P: high, S: Blockchain, T: feature

#1073 chore: refactor multisig tests
  blockchain/source/test/multiSigWallet.js
Labels: P: medium, S: Smart-contracts, T: refactor

#1082 feat: oracle
  Makefile
  blockchain/addresses.go
  blockchain/api.go
  blockchain/topics.go
  blockchain/types.go
  cmd/oracle/main.go
  etc/oracle.yaml
  insonmnia/dwh/server.go
  insonmnia/oracle/config.go
  insonmnia/oracle/oracle.go
  insonmnia/oracle/watcher.go
Labels: P: high, T: WIP, T: feature

#1135 fix: transaction like consumption in Optimus
  optimus/devices.go
  optimus/devices_test.go
Labels: P: high, S: Optimus, T: bug

#1145 fix: proper value in status channel
  insonmnia/worker/overseer.go
Labels: P: high, S: Worker, T: bug
