Repository sonm-io/core, pull requests merged in 2018-07, with the labels that each got.

#1156 feat: enable pprof servers on Rendezvous and Relay
  cmd/rv/main.go
  insonmnia/npp/relay/config.go
  insonmnia/npp/relay/server.go
  insonmnia/npp/rendezvous/config.go
  insonmnia/npp/rendezvous/server.go
Labels: P: high, S: Relay, S: Rendezvous, T: feature, V: minor

#1152 proposal: better error handling for the cli
  cmd/cli/commands/blacklist.go
  cmd/cli/commands/common.go
  cmd/cli/commands/deals.go
  cmd/cli/commands/err_test.go
  cmd/cli/commands/login.go
  cmd/cli/commands/master.go
  cmd/cli/commands/orders.go
  cmd/cli/commands/printers.go
  cmd/cli/commands/profiles.go
  cmd/cli/commands/tasks.go
  cmd/cli/commands/tokens.go
  cmd/cli/commands/version.go
  cmd/cli/commands/worker.go
  cmd/cli/commands/worker_askplans.go
  cmd/cli/commands/worker_benchmarks.go
  cmd/cli/commands/worker_devices.go
  cmd/cli/commands/worker_tasks.go
  cmd/cli/main.go
Labels: P: low, S: CLI, T: experiment, T: refactor, V: patch

#1160 refactor: events api
  blockchain/api.go
  blockchain/config.go
  blockchain/options.go
  etc/dwh.yaml
  insonmnia/dwh/server.go
  insonmnia/oracle/oracle.go
Labels: S: Blockchain, T: WIP, T: refactor

#1162 feat: let cli read it's config from --config flag
  cmd/cli/commands/common.go
  cmd/cli/commands/err_test.go
  cmd/cli/commands/printers_test.go
  cmd/cli/commands/version_test.go
  cmd/cli/config/config.go
  cmd/cli/main.go
Labels: P: low, S: CLI, T: WIP, T: experiment, T: feature

#1163 feat: Adds node_addr config variable to cli
  cmd/cli/commands/client.go
  cmd/cli/commands/common.go
  cmd/cli/config/config.go
Labels: P: low, S: CLI, T: feature

#1046 fix: relay check matching node
  insonmnia/npp/relay/client.go
  insonmnia/npp/relay/errors.go
  insonmnia/npp/relay/server.go
Labels: P: medium, S: Relay, T: bug

#1175 feat: blacklist support in Optimus
  optimus/blacklist.go
  optimus/engine.go
  optimus/optimus.go
Labels: P: medium, S: Optimus, T: feature

#1177 fix: spurious continuum devastation
  insonmnia/npp/relay/errors.go
  insonmnia/npp/relay/hashring.go
  insonmnia/npp/relay/hashring_test.go
  insonmnia/npp/relay/server.go
Labels: P: medium, S: Relay, T: bug, V: patch

#1183 feat: log order id when creating ask plans
  optimus/engine.go
Labels: P: low, S: Optimus, T: feature

#1185 fix: properly cut orders with 0 GPU count
  optimus/devices.go
  optimus/devices_test.go
Labels: P: medium, S: Optimus, T: bug

#1193 chore: worker's status handle available for anyone
  insonmnia/worker/server.go
Labels: P: low, S: Worker, V: patch

#1197 refactor: metrics server overhaul
  cmd/dwh/main.go
  cmd/node/main.go
  cmd/worker/main.go
  util/metrics/prometheus.go
  util/util.go
Labels: P: medium, T: bug, T: feature

#1167 fix: dwh proper exit
  blockchain/api.go
  blockchain/types.go
  insonmnia/dwh/server.go
  insonmnia/dwh/sql.go
  insonmnia/dwh/storage.go
Labels: P: medium, S: DWH, T: bug

#1087 feat: deployment scripts for livenet
  blockchain/source/.DS_Store
  blockchain/source/Makefile
  blockchain/source/live-deploy-scripts/1_deploy_live_gate.js
  blockchain/source/live-deploy-scripts/2_deploy_sidechain_gate.js
  blockchain/source/live-deploy-scripts/3_deploy_main_part.js
  blockchain/source/truffle.js
Labels: P: high, S: Smart-contracts, T: feature, V: major

#1190 fix: Keep task-to-askplan data till the deal is finished
  insonmnia/resource/pool.go
  insonmnia/worker/overseer.go
  insonmnia/worker/server.go
Labels: S: Worker

#1202 refactor: complete Node refactoring
  Makefile
  cmd/node/main.go
  insonmnia/dwh/server.go
  insonmnia/matcher/matcher.go
  insonmnia/matcher/matcher_test.go
  insonmnia/node/blacklist.go
  insonmnia/node/config.go
  insonmnia/node/deals.go
  insonmnia/node/hub.go
  insonmnia/node/market.go
  insonmnia/node/master.go
  insonmnia/node/mod.go
  insonmnia/node/options.go
  insonmnia/node/remote.go
  insonmnia/node/server.go
  insonmnia/node/server_test.go
  insonmnia/node/services.go
  insonmnia/node/tasks.go
  util/defergroup/mod.go
  util/rest/options.go
  util/rest/server.go
  util/xgrpc/server.go
  util/xnet/listener.go
  util/xnet/resolve.go
Labels: P: low, S: Node, T: bug

#1169 chore: dwh startup refactoring
  etc/dwh.yaml
  insonmnia/dwh/server.go
Labels: P: low, S: DWH, T: refactor

#1207 fix: worker hanging
  insonmnia/npp/listener.go
Labels: P: high, S: Worker, T: bug

#1204 fix: ignore orders with zero price in Optimus
  etc/optimus.yaml
  optimus/config.go
  optimus/engine.go
  optimus/market.go
  optimus/optimus.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1211 fix: logw in matcher
  insonmnia/matcher/matcher.go
Labels: T: bug

#1209 feat: assign tags in Optimus orders
  cmd/optimus/main.go
  optimus/engine.go
  optimus/optimus.go
  optimus/options.go
  optimus/tagging.go
  proto/marketplace.go
Labels: P: low, S: Optimus, T: feature, V: minor

#1196 feat: ping worker before deal
  cmd/cli/commands/deals.go
  insonmnia/node/deals.go
  insonmnia/node/remote.go
  proto/node.pb.go
  proto/node.proto
Labels: P: low, S: CLI, S: Node, T: feature, V: minor

#1200 feat: gaslimits in api
  blockchain/api.go
  blockchain/gasLimits.go
  blockchain/options.go
Labels: S: Blockchain

#1222 fix: oracle config
  insonmnia/oracle/config.go
Labels: P: medium, T: bug

#1090 feat: non-negative LLS solver for Optimus
  optimus/model.go
  optimus/model_nnls.go
Labels: P: low, S: Optimus, T: experiment, T: feature, V: minor

#1229 feat: pre-request logging interceptor
  insonmnia/node/master.go
  insonmnia/node/server.go
  insonmnia/node/tasks.go
  insonmnia/node/worker.go
  insonmnia/worker/server.go
  util/xgrpc/method.go
  util/xgrpc/options.go
Labels: P: medium, T: feature, V: minor

#1195 feat: make masterchain gas price configurable
  blockchain/config.go
  blockchain/options.go
  cmd/pandora/gun_marketplace.go
  etc/node.yaml
Labels: P: medium, S: Blockchain, S: Node, T: feature

#1232 refactor: drop order fusion from time in Optimus
  etc/optimus.yaml
  optimus/config.go
  optimus/learning.go
  optimus/learning_test.go
  optimus/math.go
Labels: P: high, S: Optimus, V: patch

#1188 fix: handle tasks correctly in case of worker reload
  insonmnia/worker/container.go
  insonmnia/worker/network/l2tp_tuner.go
  insonmnia/worker/network/tinc_tuner.go
  insonmnia/worker/network/tuner.go
  insonmnia/worker/overseer.go
  insonmnia/worker/overseer_test.go
  insonmnia/worker/plugin/plugin.go
  insonmnia/worker/server.go
Labels: S: Worker
