Repository sonm-io/core, pull requests merged in 2018-08, with the labels that each got.

#1252 fix: avoid global logger in puncher
  insonmnia/npp/options.go
  insonmnia/npp/puncher.go
Labels: P: low, T: bug, V: patch

#1255 feat: enable pprof in Optimus
  etc/optimus.yaml
  optimus/config.go
  optimus/optimus.go
Labels: P: medium, S: Optimus, T: feature, V: minor

#1257 fix: nil pointer dereferencing in Optimus
  optimus/engine_branch.go
Labels: P: high, S: Optimus, T: bug

#1256 perf: fast benchmark mapping
  insonmnia/benchmarks/benchmarks.go
  insonmnia/benchmarks/mapping.go
Labels: P: medium, S: Optimus, T: feature, V: minor

#1261 perf: use proper combinations limits
  optimus/devices.go
Labels: P: medium, S: Optimus, T: perf, V: patch

#1262 perf: avoid extra copying in Optimus
  optimus/devices.go
Labels: P: medium, S: Optimus, T: perf, V: patch

#1227 feat: Connor the bot
  Makefile
  cmd/connor/main.go
  connor/antifraud/antifraud.go
  connor/antifraud/blacklist_watcher.go
  connor/antifraud/config.go
  connor/antifraud/log_processor.go
  connor/antifraud/pool_processor.go
  connor/antifraud/pool_processor_test.go
  connor/config.go
  connor/engine.go
  connor/price/price.go
  connor/price/price_test.go
  connor/price/utils.go
  connor/server.go
  connor/types.go
  connor/types_test.go
  connor/x_test.go
  debian/control
  debian/rules
  debian/sonm-connor.default
  debian/sonm-connor.install
  debian/sonm-connor.service
  etc/connor.yaml
Labels: P: high, S: Connor, T: feature

#1251 chore/prepare DWH for L2
  cmd/dwh/main.go
  insonmnia/dwh/config.go
  insonmnia/dwh/l1_processor.go
  insonmnia/dwh/l1_processor_test.go
  insonmnia/dwh/server.go
  insonmnia/dwh/server_test.go
  insonmnia/dwh/setup_test.go
  insonmnia/dwh/sql.go
  insonmnia/node/config.go
  insonmnia/worker/config.go
Labels: P: medium, S: DWH, T: refactor

#1273 refactor: use only root config for Connor's engine
  connor/engine.go
Labels: P: low, S: Connor, T: refactor, V: patch

#1271 fix: proper Connor's binary path in systemd-unit
  debian/sonm-connor.service
Labels: P: high, S: Connor, T: bug, V: minor

#1275 refactor: dead code elimination
  optimus/clock.go
Labels: P: low, S: Optimus

#1276 fix: load keystore even if `--insecure` flag is set
  cmd/cli/commands/blacklist.go
  cmd/cli/commands/common.go
  cmd/cli/commands/deals.go
  cmd/cli/commands/master.go
  cmd/cli/commands/orders.go
  cmd/cli/commands/profiles.go
  cmd/cli/commands/tasks.go
  cmd/cli/commands/tokens.go
  cmd/cli/commands/worker.go
Labels: P: medium, S: CLI, T: bug, V: patch

#1277 fix: show Order's price per hour
  cmd/cli/commands/printers.go
  proto/marketplace.go
Labels: P: low, S: CLI, T: refactor, V: patch

#1278 fix: postgres container setup
  insonmnia/dwh/setup_test.go
Labels: P: high, S: DWH, T: bug

#1282 fix: parse BID and ASK strictly
  cmd/cli/task_config/config_test.go
  cmd/cli/task_config/load_order.go
Labels: P: medium, S: CLI, T: bug, V: patch

#1285 fix: properly calculate free devices in Optimus
  optimus/engine.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1286 feat: print order identity in CLI
  cmd/cli/commands/printers.go
Labels: P: high, S: CLI, T: feature, V: minor

#1284 refactor: orders factory for connor
  connor/engine.go
  connor/server.go
  connor/types.go
  connor/types_test.go
  connor/x_test.go
Labels: P: low, S: Connor, T: refactor, V: patch

#1289 refactor: token parameters for Connors
  connor/config.go
  connor/engine.go
  connor/price/price.go
  connor/server.go
  connor/types.go
  connor/types_test.go
  connor/x_test.go
Labels: P: low, S: Connor, T: refactor, V: patch

#1294 feat: allow to obtain balance by specified wallet
  cmd/cli/commands/tokens.go
  insonmnia/node/tokens.go
  proto/node.pb.go
  proto/node.proto
Labels: P: low, S: CLI, S: Node, T: feature, V: minor

#1290 refactor: drop extra wrapper around Connor's engine
  connor/engine.go
  connor/server.go
  connor/types.go
  connor/x_test.go
Labels: P: low, S: Connor, T: refactor, V: patch

#1292 fix: proper blacklisting in Connor
  connor/antifraud/antifraud.go
  connor/antifraud/blacklist_watcher.go
  connor/antifraud/blacklist_watcher_test.go
Labels: P: medium, S: Connor, T: bug, V: patch

#1297 fix: properly discover loopback links
  util/xnet/resolve.go
Labels: P: medium, S: Node, S: Worker, T: bug, V: patch

#1298 fix: proper BTFS initialization
  insonmnia/worker/volume/btfs.go
Labels: P: medium, S: Worker, T: bug, V: patch

#1300 fix: proper JSON errors for task list cmd
  cmd/cli/commands/tasks.go
Labels: P: low, S: CLI, T: bug, V: patch

#1299 feat: network shaping for BTFS
  insonmnia/worker/overseer.go
  insonmnia/worker/plugin/plugin.go
  insonmnia/worker/volume/btfs.go
  insonmnia/worker/volume/driver.go
Labels: P: medium, S: Worker, T: feature, V: minor

#1301 refactor: tune dry-run in Optimus
  optimus/engine.go
Labels: P: low, S: Optimus, T: refactor

#1296 feat: prometheus metrics for Connor
  connor/antifraud/antifraud.go
  connor/engine.go
Labels: P: low, S: Connor, T: feature, V: patch

#1287 fix: check BID identity level in Optimus
  optimus/engine.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1302 refactor: construct anti-fraud processors with Factory
  connor/antifraud/antifraud.go
  connor/antifraud/config.go
  connor/antifraud/log_processor.go
  connor/antifraud/pool_processor.go
  connor/antifraud/pool_processor_test.go
  connor/antifraud/processor.go
  connor/config.go
  connor/engine.go
  connor/types.go
  etc/connor.yaml
Labels: P: medium, S: Connor, T: refactor, V: patch

#1303 refactor: build miner's env for pool and token
  connor/config.go
  connor/config_test.go
  connor/engine.go
  etc/connor.yaml
Labels: P: medium, S: Connor, T: refactor, V: patch

#1304 refactor: proper context usage in Connor's engine
  connor/engine.go
Labels: P: medium, S: Connor, T: refactor, V: patch

#1305 refactor: new price config for Connor
  connor/config.go
  connor/engine.go
  etc/connor.yaml
Labels: P: low, S: Connor, T: refactor, V: patch

#1309 chore: name logger inside the code that uses that logger
  connor/antifraud/antifraud.go
  connor/engine.go
Labels: P: low, S: Connor, V: patch

#1308 feat: simulation mode in Optimus
  etc/optimus.yaml
  optimus/cache.go
  optimus/config.go
  optimus/engine.go
  optimus/worker.go
Labels: P: medium, S: Optimus, T: feature, V: minor

#1306 fix: proper order cancel in Connor
  connor/engine.go
  connor/types.go
Labels: P: medium, S: Connor, T: bug, V: patch

#1307 feat: update price changes in Optimus
  optimus/engine.go
Labels: P: medium, S: Optimus, T: feature, V: minor

#1312 fix: proper own ask filtering in Optimus
  optimus/engine.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1313 refactor: print Deal's price per hour
  cmd/cli/commands/printers.go
  proto/marketplace.go
Labels: P: low, S: CLI, T: refactor, V: patch

#1295 feat: dwh l2
  insonmnia/dwh/processor.go
  insonmnia/dwh/processor_test.go
  insonmnia/dwh/server.go
  insonmnia/dwh/server_test.go
  insonmnia/dwh/sql.go
  proto/ask_plan.pb.go
  proto/dwh.pb.go
  proto/dwh.proto
Labels: P: medium, S: DWH, T: feature

#1315 fix: identity level matching (DWH) [CRITICAL]
  insonmnia/dwh/sql.go
Labels: P: high, S: DWH, T: bug

#1310 feat: close unprofitable deals in Connor
  connor/antifraud/antifraud.go
  connor/config.go
  connor/engine.go
  connor/types.go
  connor/types_test.go
Labels: P: medium, S: Connor, T: feature, V: patch

#1316 chore: log benchmarks value of replaceable entity
  connor/engine.go
Labels: P: low, S: Connor, V: patch

#1320 refactor: logically decompose completion cmd
  cmd/cli/commands/completion.go
  cmd/cli/commands/version.go
Labels: P: low, S: CLI, T: refactor

#1318 fix: gradually decrease blacklisting in Connor
  connor/antifraud/antifraud.go
  connor/antifraud/blacklist_watcher.go
  connor/antifraud/blacklist_watcher_test.go
  connor/antifraud/config.go
  etc/connor.yaml
Labels: P: medium, S: Connor, T: bug, V: patch

#1322 fix: treat none benchmarks as min
  optimus/devices.go
  optimus/devices_test.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1321 feat: XMR price provider for Connor
  connor/config.go
  connor/price/price.go
  connor/price/price_test.go
Labels: P: medium, S: Connor, T: feature, V: patch

#1323 chore: profile certificates refactoring
  insonmnia/dwh/processor.go
  insonmnia/dwh/processor_test.go
  insonmnia/dwh/server.go
  insonmnia/dwh/setup_test.go
  insonmnia/dwh/sql.go
Labels: P: low, S: DWH, T: refactor, V: patch

#1327 fix: support old samba servers
  insonmnia/worker/volume/cifs.go
Labels: P: high, S: Worker, T: bug, V: patch

#1328 feat: info handle in Relay
  insonmnia/npp/relay/monitor.go
  insonmnia/npp/relay/server.go
  proto/ask_plan.pb.go
  proto/relay.pb.go
  proto/relay.proto
Labels: P: medium, S: Relay, T: feature, V: minor

#1291 feat: blockchain errors for humans
  blockchain/api.go
  blockchain/api_ext.go
  blockchain/api_ext_test.go
  blockchain/options.go
  insonmnia/node/remote.go
  proto/marketplace.go
Labels: P: medium, S: Blockchain, T: feature, V: minor

#1334 feat: relative price threshold in Optimus
  etc/optimus.yaml
  optimus/config.go
  optimus/engine.go
  optimus/price.go
  optimus/price_test.go
  proto/insonmnia.go
Labels: P: medium, S: Optimus, T: feature, V: minor

#1335 feat: show public IPs in deal status
  cmd/cli/commands/printers.go
  insonmnia/worker/options.go
  insonmnia/worker/server.go
  proto/worker.pb.go
  proto/worker.proto
  util/netutil/net.go
Labels: P: medium, S: CLI, S: Worker

#1330 fix: attach antifraud to restarted task
  connor/antifraud/antifraud.go
  connor/engine.go
Labels: P: medium, S: Connor, T: bug, V: patch

#1333 fix: drop excessive logging in Connor
  connor/antifraud/pool_processor.go
Labels: P: low, S: Connor, T: refactor, V: patch

#1337 fix: proper order price setting in Connor
  connor/engine.go
Labels: P: medium, S: Connor, T: bug, V: patch

#1340 fix: properly decode Price from YAML/JSON
  optimus/price.go
  proto/insonmnia.go
Labels: P: high, S: Worker, T: bug, V: patch

#1338 refactor: extract common parts from LogProcessor
  cmd/cli/commands/tasks.go
  connor/antifraud/log_processor.go
  connor/antifraud/log_processor_test.go
  proto/log_reader.go
Labels: P: low, S: Connor, T: refactor, V: patch

#1343 fix: show DWH status in worker status
  insonmnia/worker/server.go
Labels: P: low, S: Worker, T: bug

#1346 fix: division by zero in Optimus
  optimus/price.go
Labels: P: high, S: Optimus, T: bug, V: patch

#1254 feat: price predictor service
  etc/node.yaml
  insonmnia/node/config.go
  insonmnia/node/remote.go
  insonmnia/node/server.go
  insonmnia/node/server_test.go
  insonmnia/node/services.go
  optimus/predictor.go
  optimus/predictor_service.go
  proto/ask_plan.pb.go
  proto/optimus.pb.go
  proto/optimus.proto
  proto/relay.pb.go
  proto/rendezvous.pb.go
  proto/timestamp.pb.go
  proto/volume.pb.go
  proto/worker.pb.go
Labels: P: medium, S: Node, T: feature, V: minor

#1347 fix: remove IFB dev on ask-plan remove
  insonmnia/worker/network/manager_linux.go
Labels: P: medium, S: Worker, T: bug, V: patch

#1350 fix: no peer found error in Relay
  insonmnia/npp/relay/monitor.go
  insonmnia/npp/relay/server.go
Labels: P: high, S: Relay, T: bug, V: patch

#1351 fix: avoid premature context cancelation in NiceMarketAPI
  blockchain/api_ext.go
Labels: P: high, S: Blockchain, S: Node, T: bug

#1348 aux: allow to pass output to the logger
  cmd/connor/main.go
  cmd/dwh/main.go
  cmd/node/main.go
  cmd/oracle/main.go
  cmd/pandora/common.go
  cmd/relay/main.go
  cmd/rv/main.go
  cmd/worker/main.go
  insonmnia/dwh/config.go
  insonmnia/logging/config.go
  insonmnia/logging/logging.go
  insonmnia/worker/acl_test.go
Labels: P: low, T: experiment, T: refactor, V: patch

#1349 fix: proper task start in Connor
  connor/config.go
  connor/engine.go
  etc/connor.yaml
Labels: P: high, S: Connor, T: bug, V: patch

#1355 feat: remove extra orders in Connor
  connor/engine.go
  connor/types.go
  connor/x_test.go
Labels: P: medium, S: Connor, T: feature, V: patch

#1358 fix: increase connection timeout in Connor
  connor/antifraud/config.go
  connor/config.go
  etc/connor.yaml
Labels: P: medium, S: Connor, T: bug, V: patch

#1354 feat: parallel order and deal purging
  cmd/cli/commands/common.go
  cmd/cli/commands/deals.go
  cmd/cli/commands/orders.go
  cmd/cli/commands/printers.go
  insonmnia/node/deals.go
  insonmnia/node/market.go
  proto/ask_plan.pb.go
  proto/marketplace.go
  proto/marketplace.pb.go
  proto/marketplace.proto
  proto/node.pb.go
  proto/node.proto
  util/multierror/error.go
Labels: P: medium, S: CLI, S: Node, T: feature, T: perf

#1342 fix: allow NetworkIn only with public IPv4 addresses
  insonmnia/hardware/hardware.go
  insonmnia/worker/options.go
  insonmnia/worker/util.go
  insonmnia/worker/util_test.go
  util/netutil/net.go
  util/netutil/net_test.go
Labels: P: medium, S: Worker

#1281 refactor: simplify task state storing and restoring
  insonmnia/worker/container.go
  insonmnia/worker/overseer.go
  insonmnia/worker/overseer_test.go
  insonmnia/worker/server.go
  insonmnia/worker/ssh.go
  insonmnia/worker/ssh_test.go
Labels: P: medium, S: Node, T: bug, V: patch

#1352 fix: proper deal closing when price is changed
  connor/engine.go
Labels: P: medium, S: Connor, T: bug, V: patch

#1353 fix: remove repo & tag from uploaded image
  insonmnia/worker/overseer.go
Labels: P: high, S: Worker, T: bug

#1360 fix: allow grpc logger to truncate specific methods output
  insonmnia/node/server.go
  insonmnia/npp/relay/monitor.go
  insonmnia/worker/server.go
  util/xgrpc/options.go
Labels: P: low, T: bug

#1370 feat: disabled anti-fraud modules in Connor
  connor/antifraud/processor.go
  connor/config.go
Labels: P: medium, S: Connor, T: feature, V: patch

#1376 chore: log formatted error with Errorf
  insonmnia/worker/container.go
Labels: P: low, S: Worker, T: refactor, V: patch

#1359 feat: detect duplicate orders in Optimus
  optimus/engine.go
  optimus/engine_test.go
  proto/ask_plan.go
Labels: P: medium, S: Optimus, T: feature, V: minor

#1375 fix: proper (un)marshaling for empty SSH keys
  insonmnia/worker/ssh.go
  insonmnia/worker/ssh_test.go
Labels: P: high, S: Worker, T: bug, V: minor

#1387 fix: kill tasks if deal was closed
  insonmnia/worker/server.go
Labels: P: high, S: Worker, T: bug
