Repository sonm-io/core, pull requests merged in 2018-09, with the labels that each got.

#1388 fix: proper init for disabled processor
  connor/antifraud/processor.go
Labels: P: low, S: Connor, T: bug, V: patch

#1390 feat: store Connor's task logs
  connor/antifraud/config.go
  connor/antifraud/log_processor.go
Labels: P: high, S: Connor, T: feature, V: patch

#1394 fix: proper isWhitelisted method in Connor
  connor/antifraud/antifraud.go
  connor/antifraud/antifraud_test.go
Labels: P: high, S: Connor, T: bug, V: patch

#1393 chore: log Connor's config on startup
  connor/engine.go
Labels: P: low, S: Connor, V: patch

#1395 fix: Node hanging on failed startup
  insonmnia/node/server.go
  insonmnia/ssh/proxy.go
Labels: P: high, S: Node, T: bug, V: patch

#1396 chore: drop useless logging
  connor/antifraud/blacklist_watcher.go
Labels: P: low, S: Connor, V: patch

#1385 refactor: huge config refactoring for Connor
  connor/config.go
  connor/config_test.go
  connor/engine.go
  connor/price/cmc_wtm.go
  connor/price/cmc_wtm_test.go
  connor/price/config.go
  connor/price/config_test.go
  connor/price/price.go
  connor/price/static.go
  connor/price/utils.go
  connor/types.go
  connor/types_test.go
  etc/connor.yaml
Labels: P: medium, S: Connor, T: API breaking, T: refactor, V: minor

#1392 feat: NPP metrics in Node
  insonmnia/node/monitoring.go
  insonmnia/node/remote.go
  insonmnia/node/services.go
  insonmnia/npp/common.go
  insonmnia/npp/dial.go
  insonmnia/npp/listener.go
  insonmnia/npp/metrics.go
  proto/ask_plan.pb.go
  proto/github.com/prometheus/client_model/go/metrics.pb.go
  proto/github.com/prometheus/client_model/metrics.proto
  proto/node.pb.go
  proto/node.proto
Labels: P: medium, S: Node, T: feature, V: minor

#1398 fix: properly close read/write part of sockets in Relay
  insonmnia/npp/relay/server.go
Labels: P: high, S: Relay, T: bug, V: patch

#1408 fix: proper deal id comparision
  insonmnia/worker/server.go
Labels: P: high, S: Worker, T: bug

#1401 feat: counterparty address for Connor's orders
  connor/config.go
  connor/types.go
  connor/types_test.go
  connor/x_test.go
  etc/connor.yaml
Labels: P: medium, S: Connor, T: feature, V: minor

#1424 fix: socket leak in Node
  insonmnia/npp/dial.go
Labels: P: high, S: Node, T: bug, V: patch

#1369 aux: extend ethclient GetTransactionReceipt method
  blockchain/client.go
Labels: P: low, S: Blockchain, T: experiment

#1426 feat: add push_on_stop flag to container desc
  insonmnia/worker/container.go
  proto/container.pb.go
  proto/container.proto
  task.yaml
Labels: P: medium, S: Worker, T: feature

#1427 fix: restore deals only if Connor is consumer
  connor/engine.go
Labels: P: medium, S: Connor, T: bug, V: patch

#1451 fix: proper task tag printer
  cmd/cli/commands/printers.go
Labels: P: medium, S: CLI, T: bug, V: patch

#1450 fix: proper error if profile doesn't exists
  cmd/cli/commands/profiles.go
Labels: P: low, S: CLI, T: bug, V: patch

#1444 fix: proper identity level check in worker SSH
  insonmnia/worker/server.go
  insonmnia/worker/ssh.go
Labels: P: high, S: Worker, T: bug, V: patch

#1443 feat: verbose filtering in Optimus
  optimus/config.go
  optimus/engine.go
Labels: P: medium, S: Optimus, T: feature, V: minor

#1455 feat: log requests in Rendezvous
  insonmnia/npp/rendezvous/server.go
Labels: P: high, S: Rendezvous, T: feature, V: minor

#1460 fix: properly detect IPv4 addresses
  util/netutil/net.go
Labels: P: high, S: Worker, T: bug, V: patch

#1456 feat: extended status for Worker
  cmd/cli/commands/printers.go
  insonmnia/worker/server.go
  proto/container.pb.go
  proto/worker.pb.go
  proto/worker.proto
Labels: P: medium, S: Worker, T: experiment, T: feature, V: patch

#1462 feat: generate SSH key instead of require
  etc/worker.yaml
  insonmnia/worker/options.go
  insonmnia/worker/ssh.go
Labels: P: medium, S: Worker, T: feature, V: minor

#1459 fix: proper formula for XMR price calculation
  connor/price/cmc_wtm.go
  connor/price/cmc_wtm_test.go
  connor/price/utils.go
Labels: P: high, S: Connor, T: bug, V: patch

#1469 refactor: extract Connor's types into separated packages
  connor/antifraud/antifraud.go
  connor/antifraud/log_processor.go
  connor/antifraud/pool_processor.go
  connor/antifraud/processor.go
  connor/backends.go
  connor/config.go
  connor/engine.go
  connor/types.go
  connor/types/benchmarks.go
  connor/types/corder.go
  connor/types/deal.go
  connor/types/types.go
  connor/types/types_test.go
  connor/types/x_test.go
Labels: P: high, S: Connor, T: bug, T: refactor, V: patch

#1466 refactor: decrease lock contention and add some logging
  insonmnia/worker/container.go
  insonmnia/worker/overseer.go
  insonmnia/worker/server.go
Labels: B: AS, S: Worker, T: perf, T: refactor

#1473 fix: limited access to the status server on startup
  insonmnia/worker/server.go
Labels: P: high, S: Worker, T: bug, V: patch

#1472 feat: Connor's log processor for xmrig
  connor/antifraud/log_processor.go
  connor/antifraud/processor.go
  connor/config.go
Labels: P: medium, S: Connor, T: feature, V: patch

#1474 fix: proper env params applying in Connor
  connor/config.go
  connor/config_test.go
Labels: P: high, S: Connor, T: bug, V: patch

#1458 refact: restrict image push with KYC level
  Makefile
  etc/worker.yaml
  insonmnia/worker/acl.go
  insonmnia/worker/acl_test.go
  insonmnia/worker/config.go
  insonmnia/worker/server.go
  insonmnia/worker/whitelist.go
Labels: B: AS, P: medium, S: Worker, T: refactor

#1481 chore: calm down vet
  connor/engine.go
Labels: P: low

#1480 chore: drop useless AuthorizeStream method
  insonmnia/auth/auth.go
Labels: P: low, S: Worker, T: refactor, V: patch

#1498 fix: underflow in price prediction service
  optimus/learning.go
Labels: P: high, S: Node, S: Optimus, T: bug, V: patch

#1500 fix: show all balances when with output=JSON
  cmd/cli/commands/printers.go
Labels: P: low, S: CLI, T: bug, V: patch

#1441 fix: keep container info after task stop
  insonmnia/worker/overseer.go
  insonmnia/worker/server.go
Labels: P: high, S: Worker, T: bug

#1503 chore: show tags in orders list
  cmd/cli/commands/printers.go
Labels: P: low, S: CLI, V: patch

#1502 fix: activate onCertificateUpdated handler
  insonmnia/dwh/processor.go
  insonmnia/dwh/processor_test.go
Labels: P: high, S: DWH, T: bug

#1478 fix: configurable EWMA for Connor's processor
  connor/antifraud/config.go
  connor/antifraud/log_processor.go
  connor/antifraud/pool_processor.go
  connor/config.go
  etc/connor.yaml
Labels: P: medium, S: Connor, V: patch

#1510 fix: log the supplier's address in Connor
  connor/engine.go
Labels: P: medium, S: Connor, V: patch

#1511 fix: proper logging on price deviation
  connor/engine.go
Labels: P: low, S: Connor, V: patch

#1513 fix: typo
  connor/antifraud/antifraud.go
Labels: P: low, S: Connor, V: patch

#1514 fix: proper log processor for Connor
  connor/antifraud/log_processor.go
  connor/antifraud/log_processor_test.go
Labels: P: medium, S: Connor, T: bug, V: patch

#1516 aux: proper systemd config
  debian/sonm-connor.service
  debian/sonm-dwh.service
  debian/sonm-node.service
  debian/sonm-optimus.service
  debian/sonm-oracle.service
  debian/sonm-relay.service
  debian/sonm-rendezvous.service
  debian/sonm-worker.service
Labels: P: medium, T: bug, V: patch

#1519 fix: always expand config path
  cmd/cobra.go
Labels: P: medium, S: CLI, T: bug, V: patch

#1034 feat: btrfs based storage quotas
  .travis.yml
  debian/control
  insonmnia/worker/container.go
  insonmnia/worker/overseer.go
  insonmnia/worker/plugin/plugin.go
  insonmnia/worker/storage/btrfs/btrfs_api.go
  insonmnia/worker/storage/btrfs/btrfs_api_test.go
  insonmnia/worker/storage/btrfs/btrfs_native_api.go
  insonmnia/worker/storage/btrfs/btrfs_native_api_test.go
  insonmnia/worker/storage/btrfs/cliapi_test.go
  insonmnia/worker/storage/btrfs_quota_test.go
  insonmnia/worker/storage/btrfs_quota_tuner.go
  insonmnia/worker/storage/common.go
  insonmnia/worker/storage/errors.go
  insonmnia/worker/storage/quotafactory_linux.go
  insonmnia/worker/storage/quotafactory_nonlinux.go
Labels: T: WIP

#1526 fix: remove extra benchmark from Connor's config
  connor/config.go
Labels: P: high, S: Connor, T: bug, V: patch

#1525 feat: gRPC rate limiter
  insonmnia/worker/server.go
  util/xgrpc/options.go
Labels: P: medium, S: Worker, T: feature, V: minor

#1529 fix: do not build linux-only tests everywhere
  insonmnia/worker/storage/btrfs/btrfs_api_test.go
Labels: P: medium, S: Worker, T: bug, V: patch

#1528 refactor: simplify main definition
  Makefile
  cmd/cobra.go
  cmd/connor/main.go
  cmd/dwh/main.go
  cmd/node/main.go
  cmd/optimus/main.go
  cmd/oracle/main.go
  cmd/relay/main.go
  cmd/rv/main.go
  cmd/worker/main.go
Labels: P: medium, S: CLI, S: Connor, S: DWH, S: Node, S: Optimus, S: Relay, S: Rendezvous, S: Worker, T: refactor, V: minor

#1535 refactor: drop excess log
  insonmnia/worker/server.go
Labels: P: medium, S: Worker, T: refactor, V: minor

#1512 aux: adapt Connor for new benchmark
  connor/types/benchmarks.go
  proto/marketplace.go
Labels: P: medium, S: Connor, T: feature, V: patch

#1536 feat: show CPU cryptonight benchmark in CLI
  cmd/cli/commands/printers.go
Labels: P: medium, S: CLI, T: feature, V: patch

#1534 feat: activate nice market API on Worker matcher
  insonmnia/worker/options.go
Labels: P: medium, S: Worker, T: feature, V: minor

#1538 fix: restore 13-th benchmark for Connor
  connor/config.go
Labels: P: medium, S: Connor, T: bug, V: minor

#1549 refactor: proper active orders tracking without chan
  connor/engine.go
Labels: P: low, S: Connor, T: refactor, V: patch

#1551 feat: password flag for sonmcli login command
  cmd/cli/commands/common.go
  cmd/cli/commands/login.go
Labels: P: medium, S: CLI, T: feature, V: patch

#1550 refactor: drop extra type-cast to Corder
  connor/engine.go
Labels: P: low, S: Connor, T: refactor, V: patch

#1547 chore: vet
  optimus/devices_test.go
Labels: P: medium, T: refactor

#1558 fix: use global timeout for task list cmd
  cmd/cli/commands/tasks.go
Labels: P: medium, S: CLI, T: bug, V: patch
