Repository sonm-io/core, pull requests merged in 2019-01, with the labels that each got.

#1822 fix: default blocks batch size in blockchain config
  blockchain/config.go
Labels: P: medium, S: Blockchain, T: bug, V: patch

#1828 fix: create directory with version file if not exists
  insonmnia/version/version.go
Labels: T: bug, V: patch

#1824 fix: proper reaching "out of sync" state
  blockchain/api.go
  blockchain/types.go
  insonmnia/dwh/processor.go
Labels: P: low, S: DWH, T: bug, V: patch

#1826 fix: enable interceptor for REST interface on DWH
  insonmnia/dwh/server.go
Labels: P: low, S: DWH, T: bug

#1830 fix: exclude empty prerelease while building outside git
  Makefile
Labels: P: high, V: patch

#1834 chore: set deposit/withdraw amount in SNM instead of wei
  cmd/cli/commands/tokens.go
Labels: P: low, S: CLI, V: patch

#1836 aux: allow monitoring to gather devices info
  insonmnia/worker/server.go
Labels: P: low, S: Worker, V: patch

#1838 fix: human-readable TC initialization error
  insonmnia/worker/network/tc/ifb.go
Labels: P: medium, S: Worker, T: bug, V: patch

#1835 feat: worker inspection
  cmd/cli/commands/worker.go
  cmd/worker/main.go
  go.mod
  go.sum
  insonmnia/auth/auth.go
  insonmnia/inspect/service.go
  insonmnia/logging/logging.go
  insonmnia/logging/watcher.go
  insonmnia/node/remote.go
  insonmnia/node/services.go
  insonmnia/node/worker.go
  insonmnia/worker/options.go
  insonmnia/worker/server.go
  proto/ask_plan.pb.go
  proto/inspect.pb.go
  proto/inspect.proto
  proto/marketplace.pb.go
  proto/net.pb.go
  proto/node.pb.go
  proto/optimus.pb.go
  proto/relay.pb.go
  proto/rendezvous.pb.go
  proto/timestamp.pb.go
  proto/volume.pb.go
  proto/worker.pb.go
  proto/worker.proto
  util/xgrpc/options.go
Labels: P: medium, S: CLI, S: Worker, T: feature, V: minor

#1841 feat: remote QoS
  Makefile
  cmd/qos/main.go
  insonmnia/worker/config.go
  insonmnia/worker/network/config.go
  insonmnia/worker/network/manager.go
  insonmnia/worker/network/manager_linux.go
  insonmnia/worker/network/manager_nonlinux.go
  insonmnia/worker/network/manager_remote.go
  insonmnia/worker/salesman/options.go
  insonmnia/worker/salesman/salesman.go
  insonmnia/worker/server.go
  proto/ask_plan.pb.go
  proto/tc.pb.go
  proto/tc.proto
  proto/timestamp.pb.go
  proto/volume.pb.go
  proto/worker.pb.go
Labels: P: high, S: Worker, T: feature, V: minor

#1759 fix: do not hang on deal cancellation
  insonmnia/worker/overseer.go
  insonmnia/worker/salesman/options.go
  insonmnia/worker/salesman/salesman.go
  insonmnia/worker/server.go
Labels: S: Worker, T: bug

#1846 fix: do not terminate on default (empty) QoS URI
  insonmnia/worker/network/manager.go
Labels: P: high, S: Worker, T: bug, V: patch
