Repository sonm-io/core, pull requests merged in 2019-02, with the labels that each got.

#1848 fix: revert per-chunk stream authorization
  util/xgrpc/options.go
Labels: P: high, S: Worker, T: bug, V: patch

#1849 feat: worker config command
  cmd/cli/commands/worker.go
Labels: P: low, S: CLI, T: feature, V: minor

#1853 feat: remote GPU tuner
  Makefile
  cmd/qos/main.go
  etc/qos.yaml
  insonmnia/worker/gpu/interface.go
  insonmnia/worker/gpu/nvidia_tuner.go
  insonmnia/worker/gpu/options.go
  insonmnia/worker/gpu/radeon_tuner.go
  insonmnia/worker/gpu/remote_server.go
  insonmnia/worker/gpu/remote_tuner.go
  insonmnia/worker/gpu/utils.go
  insonmnia/worker/network/manager_nonlinux.go
  insonmnia/worker/plugin/plugin.go
  proto/ask_plan.pb.go
  proto/capabilities.pb.go
  proto/capabilities.proto
  proto/gpu_ctl.pb.go
  proto/gpu_ctl.proto
  proto/insonmnia.pb.go
  proto/inspect.pb.go
  proto/marketplace.pb.go
  proto/net.pb.go
  proto/node.pb.go
  proto/optimus.pb.go
  proto/relay.pb.go
  proto/rendezvous.pb.go
  proto/tc.pb.go
  proto/timestamp.pb.go
  proto/volume.pb.go
  proto/worker.pb.go
Labels: P: low, S: Worker, T: feature, V: patch

#1855 fix: use LinkOrCopyStrategy to provision nvidia volumes
  insonmnia/worker/gpu/volume_plugin.go
Labels: P: medium, S: Worker, T: bug, V: patch
